<div>
<h2>Phones</h2>
</div>

<div *ngFor="let product of products">
  
  <div class="container-align-center">
    <div>
      <img class="img-logo" src="https://bit.lt/img/BIT_bl-RGB.png" alt="logo">
    </div>
    <p class="product-title">
      <a [title]=" 'Kaina: ' + product.price + ' €' ">
        {{product.name}}
      </a>
    </p>
  </div>

  
  <p class="description" *ngIf="product.description, else noDescription">
    Description: {{ product.description }}
  </p>

  <ng-template #noDescription>
    <p>
      No description 
    </p>
  </ng-template>

  <div  class="container">
    <button (click)="shareFb()">
      <a href="">
        <i class="material-icons text-white"> share </i>      
      </a>
      Share to Fb 
  </button>

  <button (click)="shareTweet()">
    <i class="material-icons text-white"> share </i>      
      <a target="_blank"
        class=""
        href="tweet">
      </a>
    Tweet
  </button>
  </div> 

</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->